
<header>
  <!-- Navbar / Header de l'admin -->
</header>

<main>
  <div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="bd-preloader-content">
                <div class="bd-preloader-logo">
                    <div class="bd-preloader-circle">
                        <svg width="190" height="190" viewBox="0 0 380 380" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle stroke="#F5F5F5" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                            </circle>
                            <circle stroke="red" cx="190" cy="190" r="180" stroke-width="6" stroke-linecap="round">
                            </circle>
                        </svg>
                    </div>
                    <img src="assets/images/logo/preloader-icon.png" alt="">
                </div>
                <p class="bd-preloader-subtitle">Loading...</p>
            </div>
        </div>
    </div>
  </div>
   <!-- C'est ici que Dashboard sera injecté -->
</main>
<router-outlet></router-outlet>
<footer>
  <!-- Footer de l'admin -->
</footer>




