





    <!-- Body main wrapper start -->
    <main>

        <!-- breadcrumb area start -->
        <section class="bd-breadcrumb-area p-relative fix z-index-11">
            <div class="bd-breadcrumb-bg-two" data-background="/assets/images/breadcrumb/breadcrumb-bg-2.webp"></div>
            <div class="bd-breadcrumb-wrapper p-relative">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="bd-breadcrumb style-two d-flex-center">
                                <div class="bd-breadcrumb-content">
                                    <h1 class="bd-breadcrumb-title text-center">Student Memebership </h1>
                                    <div class="bd-breadcrumb-list">
                                        <span><a href="index.html">iStudy</a></span>
                                        <span class="divider"><i class="fa-regular fa-angle-right"></i></span>
                                        <span class="active">Student MemeberShip</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bd-breadcrumb-shape">
                        <div class="shape-1"><img src="/assets/images/shape/breadcrumb-shape-1.webp" alt="shape"></div>
                        <div class="shape-3"><img src="/assets/images/shape/bulb-shape.webp" alt="shape"></div>
                    </div>
                </div>
            </div>
        </section>
        <!-- breadcrumb area end -->

        <!-- wishlist area start -->
        <section class="bd-shop-details-area section-space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="checkout-verify mb-30">
                            <div class="checkout-verify-item">
                                <div id="returnCustomerLoginForm" class="return-customer">
                                    <form action="#">
                                        <div class="return-customer-input">
                                            <label>Email</label>
                                            <input type="text" placeholder="Your Email">
                                        </div>
                                        <div class="return-customer-input">
                                            <label>Password</label>
                                            <input type="password" placeholder="Password">
                                        </div>
                                        <div class="return-customer-suggetions d-sm-flex align-items-center justify-content-between mb-20">
                                            <div class="return-customer-remember">
                                                <input id="remember" type="checkbox">
                                                <label for="remember">Remember me</label>
                                            </div>
                                            <div class="return-customer-forgot">
                                                <a href="forgot.html">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <a href="sign-in.html" class="bd-btn btn-primary">Log In</a>
                                    </form>
                                </div>
                            </div>
                            <div class="checkout-verify-item">
                                <div id="checkoutCouponForm" class="return-customer">
                                    <form action="#">
                                        <div class="return-customer-input">
                                            <label>Coupon Code :</label>
                                            <input type="text" placeholder="Coupon">
                                        </div>
                                        <button type="submit" class="bd-btn btn-success">Apply Coupon</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="checkout-bill-area">
                            <h3 class="checkout-bill-title">Payment Account Details</h3>
                            <div class="checkout-bill-form">
                                <form action="#">
                                    <div class="checkout-bill-inner">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="checkout-input">
                                                    <label>First Name <span>*</span></label>
                                                    <input type="text" placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-input">
                                                    <label>Last Name <span>*</span></label>
                                                    <input type="text" placeholder="Last Name">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-input">
                                                    <label>University name (optional)</label>
                                                    <input type="text" placeholder="Example LTD.">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-input">
                                                    <label>Country / Region </label>
                                                    <input type="text" placeholder="United States (US)">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-input">
                                                    <label>Street address</label>
                                                    <input type="text" placeholder="House number and street name">
                                                </div>

                                                <div class="checkout-input">
                                                    <input type="text" placeholder="Apartment, suite, unit, etc. (optional)">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-input">
                                                    <label>Town / City</label>
                                                    <input type="text" placeholder="Town / City">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="checkout-input">
                                                    <label>Postcode / ZIP</label>
                                                    <input type="text" placeholder="Postcode / ZIP">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-input">
                                                    <label>Phone <span>*</span></label>
                                                    <input type="text" placeholder="Phone">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-input">
                                                    <label>Email address <span>*</span></label>
                                                    <input type="email" placeholder="Email address">
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <div class="checkout-option-wrapper create-acc">
                                                    <div id="cbox_info" class="checkout-input create-account">
                                                        <p>Create an account by entering the information below. If you
                                                            are a
                                                            returning
                                                            customer please login at the top of the page.</p>
                                                        <label>Account Password <span>*</span></label>
                                                        <input type="password" placeholder="Password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="different-address">

                                                <div id="ship-box-info">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="checkout-input">
                                                                <label for="stateCounty">State / County</label>
                                                                <select id="stateCounty" class="checkout-country country-list">
                                                                    <option value="us">United States</option>
                                                                    <option value="vn">Vietnam</option>
                                                                    <option value="fr">France</option>
                                                                    <option value="jp">Japan</option>
                                                                    <option value="mv">Maldives</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-md-6">
                                                            <div class="checkout-input">
                                                                <label>First Name <span>*</span></label>
                                                                <input type="text" placeholder="First Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="checkout-input">
                                                                <label>Last Name <span>*</span></label>
                                                                <input type="text" placeholder="Last Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="checkout-input">
                                                                <label>Company Name</label>
                                                                <input type="text" placeholder="Company Name">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="checkout-input">
                                                                <label>Apartment/Suite No. <span>*</span></label>
                                                                <input type="text" placeholder="Street address">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="checkout-input">
                                                                <label>Address <span>*</span></label>
                                                                <input type="text" placeholder="Apartment, suite, unit etc. (optional)">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="checkout-input">
                                                                <label>Town / City <span>*</span></label>
                                                                <input type="text" placeholder="Town / City">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="checkout-input">
                                                                <label>State / County <span>*</span></label>
                                                                <input type="text" placeholder="State / County">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="checkout-input">
                                                                <label>Postcode / Zip <span>*</span></label>
                                                                <input type="text" placeholder="Postcode / Zip">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="checkout-input">
                                                                <label>Email Address <span>*</span></label>
                                                                <input type="email" placeholder="Email address">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="checkout-input">
                                                                <label>Phone <span>*</span></label>
                                                                <input type="text" placeholder="Postcode / Zip">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="checkout-input mb-0">
                                                    <label>Memebership notes (optional)</label>
                                                    <textarea placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- checkout place order -->
                        <div class="checkout-place sidebar-right sidebar-sticky">
                            <h3 class="checkout-place-title">Your Order</h3>
                            <div class="order-info-list">
                                <ul>
                                    <!-- header -->
                                    <li class="order-info-list-header">
                                        <h4>Product</h4>
                                        <h4>Total</h4>
                                    </li>
                                    <!-- item list -->
                                    <li class="order-info-list-desc">
                                        <p>We Solve Murders<span> x 1</span></p>
                                        <span>$18.00</span>
                                    </li>                                  
                                    <!-- total -->
                                    <li class="order-info-list-total">
                                        <span>Total</span>
                                        <span>$80.48</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="checkout-payment">
                                <div class="checkout-payment-item">
                                    <input type="radio" id="back_transfer" name="payment">
                                    <label for="back_transfer" data-bs-toggle="direct-bank-transfer">Direct Bank
                                        Transfer</label>
                                    <div class="checkout-payment-desc direct-bank-transfer">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as
                                            the
                                            payment reference. Your order will not be shipped until the funds have
                                            cleared in our
                                            account.</p>
                                    </div>
                                </div>
                                <div class="checkout-payment-item">
                                    <input type="radio" id="cheque_payment" name="payment">
                                    <label for="cheque_payment">Cheque Payment</label>
                                    <div class="checkout-payment-desc cheque-payment">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as
                                            the
                                            payment reference. Your order will not be shipped until the funds have
                                            cleared in our
                                            account.</p>
                                    </div>
                                </div>
                                <div class="checkout-payment-item">
                                    <div class="checkout-payment-desc cash-on-delivery">
                                        <p>Make your payment directly into our bank account. Please use your Order ID as
                                            the
                                            payment reference. Your order will not be shipped until the funds have
                                            cleared in our
                                            account.</p>
                                    </div>
                                </div>
                                <div class="checkout-payment-item paypal-payment">
                                    <input type="radio" id="paypal" name="payment">
                                    <label for="paypal">PayPal <img src="/assets/images/shape/payment-option.webp" alt="image"></label>
                                </div>
                            </div>
                            <div class="checkout-agree">
                                <div class="checkout-option mb-15">
                                    <input id="read_all" type="checkbox">
                                    <label for="read_all">I have read and agree to the website.</label>
                                </div>
                            </div>
                            <div class="checkout-btn-wrapper">
                                <button type="submit" class="bd-btn btn-outline-primary">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- wishlist area end -->



 

