<div class="banner">
    <div class="slider" [style.--quantity]="10">
        <div class="item" [style.--position]="1"><img src="/assets/images/instructor/teacher1.png" alt="Dragon 1"></div>
        <div class="item" [style.--position]="2"><img src="/assets/images/instructor/teacher2.png" alt="Dragon 2"></div>
        <div class="item" [style.--position]="3"><img src="/assets/images/instructor/teacher3.jpg" alt="Dragon 3"></div>
        <div class="item" [style.--position]="4"><img src="/assets/images/instructor/teacher4.png" alt="Dragon 4"></div>
        <div class="item" [style.--position]="5"><img src="/assets/images/instructor/teacher5.png" alt="Dragon 5"></div>
        <div class="item" [style.--position]="6"><img src="/assets/images/instructor/teacher6.jpeg" alt="Dragon 6"></div>
        <div class="item" [style.--position]="7"><img src="/assets/images/instructor/teacher7.jpeg" alt="Dragon 7"></div>
        <div class="item" [style.--position]="8"><img src="/assets/images/instructor/teacher88.jpeg" alt="Dragon 8"></div>
        <div class="item" [style.--position]="9"><img src="/assets/images/instructor/teacher9.jpg" alt="Dragon 9"></div>
        <div class="item" [style.--position]="10"><img src="/assets/images/instructor/teacher10.png" alt="Dragon 10"></div>
    </div>
    <div class="content">
        <h1 data-content="Coder BackPack">Coder BackPack</h1>
        <div class="author">
            <h2>CoderHive</h2>
            <div class="bd-dashboard-profile-btn">
                <a [routerLink]="['/teacher/add-backpack']" class="bd-btn btn-secondary-white">
                    Create a New Backpack
                </a> 
              </div>     
            <p>choose a Card</p>
        </div>
        <div class="model"></div>
    </div>
</div>