<header>
    <div class="bd-header-area header-style-one demo-header" id="header-sticky">
        <div class="bd-header-inner">
            <div class="bd-header-left">
                <div class="bd-header-logo">
                    <!-- Change href to routerLink -->
                    <a [routerLink]="['/']"><img src="assets/images/logo/logo.svg" alt="logo"></a>
                </div>
            </div>
            <div class="bd-header-menu">
                <nav class="main-menu bd-mobile-menu-active d-none d-xl-block">
                    <ul>
                        <li class="has-mega-menu">
                            <!-- Change href to routerLink -->
                            <a [routerLink]="['/']">Home</a>
                        </li>
                        
                        <!-- feedback menu -->
                        <li class="menu-item-has-children">
                            <!-- Use routerLink or click handler -->
                            <a [routerLink]="['/feedback']">Feedback</a>
                            <ul class="submenu last-children">
                                <li><a [routerLink]="['/addfeedback']" [queryParams]="{type: 'other'}">send complaint</a></li>
                                <!-- Add Submit Ticket link -->
                                <li><a [routerLink]="['/tickets/create']">Submit Ticket</a></li>
                            </ul>
                        </li>

                        <!-- dashboard menu -->
                        <li class="menu-item-has-children" *ngIf="isAdmin()">
                            <!-- Use routerLink or click handler -->
                            <a [routerLink]="['/dashboard']">Dashboard</a>
                            <ul class="submenu last-children">
                                <li class="menu-item-has-children has-arrow">
                                    <a [routerLink]="['/instructor-dashboard']">Instructor Dashboard</a>
                                    <ul class="submenu">
                                        <li><a [routerLink]="['/instructor-dashboard']">Instructor Dashboard</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-arrow">
                                    <a [routerLink]="['/student-dashboard']">Student Dashboard</a>
                                    <ul class="submenu">
                                        <li><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="bd-header-right">
                <!-- Add logout button with click handler -->
                <div class="auth-section" *ngIf="isLoggedIn()">
                    <button (click)="logout()">Logout</button>
                </div>
                
                <div class="bd-header-hamburger">
                    <div class="sidebar-toggle">
                        <!-- Change to button for better accessibility -->
                        <button class="bar-icon" (click)="toggleMobileMenu()">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>